/* Add CSS Styling */
.odd {
  font-family: Verdana, "DejaVu Sans", sans-serif;
  background-color: #ff474c;
}

#second {
  color: blue;
  font-size: 36px;
}

#third {
  font-size: 24px;
}

#fourth {
  background-color: #88e788;
  font-size: 24px;
  font-weight: bold;
}
