/* Add CSS Styling */
.first,
.second {
  font-size: 50px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.first {
  background-color: black;
  color: white;
}

.second {
  background-color: yellow;
}
